# System / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp
*.bak
node_modules/
dist/
build/
.env

# Windows junk
AppData/
Documents/
Downloads/
Desktop/
Music/
Pictures/
Videos/
Saved Games/
Contacts/
Favorites/
Links/
NTUSER.DAT*
